In [1]:
from collections import namedtuple

In [4]:
DataIngestionConfig=namedtuple('DataIngestionConfig', 
                               ['dataset_download_url','tgz_download_dir','raw_data_dir',
                                'ingested_train_dir','ingested_test_dir'])

In [15]:
data_ingestion_config=DataIngestionConfig('asda','gasgas','gasgasga','gsafasdfas','gahahad')

In [16]:
data_ingestion_config

DataIngestionConfig(dataset_download_url='asda', tgz_download_dir='gasgas', raw_data_dir='gasgasga', ingested_train_dir='gsafasdfas', ingested_test_dir='gahahad')

In [2]:
import pandas as pd
import yaml

def read_yaml_file(file_path:str)->dict:
    """
    Reads yaml file and returns dictionary
    """
    try:
        with open(file_path,'r') as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise e

In [9]:
def load_data(file_path:str,schema_file_path:str)->pd.DataFrame:
    try:
        dataset_schema=read_yaml_file(schema_file_path)
        schema=dataset_schema['columns']

        data=pd.read_csv(file_path)

        error_message=""

        for col in data.columns:
            if col in list(schema.keys()):
                data[col].astype(schema[col])
            else:
                error_message = f"{error_message} \nColumn: [{col}] is not in the schema."

        if len(error_message)>0:
            raise Exception(error_message)
        return data
    except Exception as e:
        raise e

In [10]:
file_path=r'D:\iNeuron\Complete Project\California_housing\housing\artifact\data_ingestion\2023-04-18_07-50-12\ingested_data\train\housing.csv'
schema_file_path=r'D:\iNeuron\Complete Project\California_housing\config\schema.yaml'

In [11]:
load_data(file_path=file_path,schema_file_path=schema_file_path)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-120.97,37.68,16.0,2349.0,446.0,1302.0,392.0,3.1625,130300.0,INLAND
1,-122.04,37.34,28.0,3081.0,460.0,1260.0,461.0,7.5372,432600.0,<1H OCEAN
2,-117.23,32.99,17.0,2718.0,326.0,1011.0,319.0,15.0001,500001.0,NEAR OCEAN
3,-118.63,34.16,33.0,2896.0,455.0,1116.0,411.0,6.0192,347700.0,<1H OCEAN
4,-115.53,32.99,25.0,2578.0,634.0,2082.0,565.0,1.7159,62200.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16507,-121.34,38.03,20.0,4213.0,751.0,2071.0,714.0,4.4063,130800.0,INLAND
16508,-118.19,33.92,43.0,2339.0,487.0,1732.0,449.0,3.0987,139400.0,<1H OCEAN
16509,-122.37,37.56,21.0,7189.0,874.0,2440.0,846.0,11.6833,500001.0,NEAR OCEAN
16510,-118.21,34.07,47.0,1346.0,383.0,1452.0,371.0,1.7292,191700.0,<1H OCEAN
16511,-122.45,37.72,46.0,1406.0,235.0,771.0,239.0,4.7143,219300.0,NEAR BAY