In [5]:
import pandas as pd
import os
import tarfile
import numpy as np

In [6]:
os.listdir('D:\Music\Music\Data')

['housing.csv', 'housing.tgz']

In [7]:
with tarfile.open('D:\Music\Music\Data\housing.tgz') as tgz_file:
    tgz_file.extractall(path='D:\Music\Music\Data')

In [8]:
df = pd.read_csv('D:\Music\Music\Data\housing.csv')

In [9]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [10]:
df['income_cat']=pd.cut(
                df['median_income'],
                bins=[0.0,1.5,3.0,4.5,6.0,np.inf]
            )

In [11]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,"(6.0, inf]"
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,"(6.0, inf]"
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,"(6.0, inf]"
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,"(4.5, 6.0]"
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,"(3.0, 4.5]"

In [12]:
df['income_cat']=pd.cut(
                df['median_income'],
                bins=[0.0,1.5,3.0,4.5,6.0,np.inf],
                labels=[1,2,3,4,5]
            )

In [13]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3

In [14]:
from sklearn.model_selection import StratifiedShuffleSplit

In [15]:
split=StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=1)

In [16]:
split.split(df,df['income_cat'])

In [17]:
for train_idx,test_idx in split.split(df,df['income_cat']):
    strat_train_set=df.loc[train_idx].drop(['income_cat'],axis=1)
    strat_test_set=df.loc[test_idx].drop(['income_cat'],axis=1)

In [18]:
strat_train_set.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19466,-120.97,37.68,16.0,2349.0,446.0,1302.0,392.0,3.1625,130300.0,INLAND
18145,-122.04,37.34,28.0,3081.0,460.0,1260.0,461.0,7.5372,432600.0,<1H OCEAN

In [19]:
strat_test_set.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19611,-121.13,37.47,37.0,1995.0,448.0,1559.0,443.0,2.1833,92700.0,INLAND
6702,-118.13,34.13,39.0,2099.0,397.0,1500.0,380.0,4.8304,493200.0,<1H OCEAN

In [20]:
strat_train_set['median_income'].mean()

3.871435404554263

In [21]:
strat_test_set['median_income'].mean()

3.867613396317829

In [22]:
column=df.columns
column

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'income_cat'],
      dtype='object')

In [23]:
df.dtypes.values

array([dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       CategoricalDtype(categories=[1, 2, 3, 4, 5], ordered=True)],
      dtype=object)

In [24]:
data_type=list(map(lambda x:str(x).replace('(',"").replace(')',""),df.dtypes.values))
data_type

['float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object',
 'category']

#### Preparing schema for dataset

In [25]:
dict(zip(column,data_type))

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object',
 'income_cat': 'category'}

In [26]:
train=r'D:\iNeuron\Complete Project\California_housing\housing\artifact\data_ingestion\2023-04-14_11-31-38\ingested_data\train\housing.csv'

In [27]:
test=r'D:\iNeuron\Complete Project\California_housing\housing\artifact\data_ingestion\2023-04-14_11-31-38\ingested_data\test\housing.csv'

In [28]:
os.path.exists(train)

True

In [29]:
os.path.exists(train) and os.path.exists(test)

True

In [78]:
data=[-120.97,	37.68,	16,	2349,	446,	1302,	392,	3.1625,	'INLAND']

In [31]:
os.getcwd()

'd:\\iNeuron\\Complete Project\\California_housing\\notebook'

In [32]:
os.chdir('..')

In [33]:
ROOT_DIR=os.getcwd()
ROOT_DIR

'd:\\iNeuron\\Complete Project\\California_housing'

In [34]:
len(data)

9

In [35]:
import yaml

In [36]:
def read_yaml_file(file_path:str)->dict:
    """
    Reads yaml file and returns dictionary
    """
    try:
        with open(file_path,'r') as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise e

In [37]:
file_path=os.path.join(ROOT_DIR, 'config','schema.yaml')
file_path

'd:\\iNeuron\\Complete Project\\California_housing\\config\\schema.yaml'

In [38]:
schema=read_yaml_file(file_path)
schema

{'columns': {'longitude': 'float',
  'latitude': 'float',
  'housing_median_age': 'float',
  'total_rooms': 'float',
  'total_bedrooms': 'float',
  'population': 'float',
  'households': 'float',
  'median_income': 'float',
  'median_house_value': 'float',
  'ocean_proximity': 'category'},
 'numerical_columns': ['longitude',
  'latitude',
  'housing_median_age',
  'total_rooms',
  'total_bedrooms',
  'population',
  'households',
  'median_income'],
 'categorical_columns': ['ocean_proximity'],
 'target_column': 'median_house_value',
 'domain_value': {'ocean_proximity': ['<1H OCEAN',
   'INLAND',
   'ISLAND',
   'NEAR BAY',
   'NEAR OCEAN']}}

In [79]:
incoming_data=dict(zip(schema['numerical_columns']+schema['categorical_columns'],data))
incoming_data

{'longitude': -120.97,
 'latitude': 37.68,
 'housing_median_age': 16,
 'total_rooms': 2349,
 'total_bedrooms': 446,
 'population': 1302,
 'households': 392,
 'median_income': 3.1625,
 'ocean_proximity': 'INLAND'}

In [40]:
len(incoming_data)

9

In [41]:
incoming_data['ocean_proximity']

'INLAND'

In [42]:
domain_values=schema['domain_value']['ocean_proximity']
domain_values

['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']

In [45]:
if 'INLAND' not in domain_values:
    print('Nope')
else:
    print('Yes')

Yes

In [49]:
numerical_columns= schema['numerical_columns']
categorical_columns= schema['categorical_columns']

In [51]:
incoming_data

{'longitude': -120.97,
 'latitude': 37.68,
 'housing_median_age': 16,
 'total_rooms': 2349,
 'total_bedrooms': 446,
 'population': 1302,
 'households': 392,
 'median_income': 3.1625,
 'ocean_proximity': 'INLAND'}

In [91]:
validation_status=True
for key,value in incoming_data.items():
    if key in categorical_columns:
        if not isinstance(value,str):
            validation_status=False
    elif key in numerical_columns:
        if not isinstance(value,int) and not isinstance(value,float):
            validation_status=False

In [99]:
validation_status=True

In [100]:
if incoming_data['ocean_proximity'] not in domain_values:
    validation_status=False

In [101]:
validation_status

True

In [106]:
def validate_dataset_schema(input):
    schema=read_yaml_file(file_path)
    incoming_data=dict(zip(schema['numerical_columns']+schema['categorical_columns'],data))
    domain_values=schema['domain_value']['ocean_proximity']
    numerical_columns= schema['numerical_columns']
    categorical_columns= schema['categorical_columns']
    
    validation_status=True
    #1. Check number of columns
    if len(data) != 9:
        validation_status=False

    #2. Checking values of ocean proximity
    if incoming_data['ocean_proximity'] not in domain_values:
        print('Ocean')
        validation_status=False

    #3. Check for datatype
    for key,value in incoming_data.items():
        if key in categorical_columns:
            if not isinstance(value,str):
                print('Category')
                validation_status=False
        elif key in numerical_columns:
            if not isinstance(value,int) and not isinstance(value,float):
                print('Numerical')
                validation_status=False
    return validation_status

In [107]:
validate_dataset_schema(input=incoming_data)

True

In [108]:
data=[-120.97,	37.68,	16,	2349,	446,	'Wrong',	392,	3.1625,	'INLAND']

In [109]:
incoming_data=dict(zip(schema['numerical_columns']+schema['categorical_columns'],data))
incoming_data

{'longitude': -120.97,
 'latitude': 37.68,
 'housing_median_age': 16,
 'total_rooms': 2349,
 'total_bedrooms': 446,
 'population': 'Wrong',
 'households': 392,
 'median_income': 3.1625,
 'ocean_proximity': 'INLAND'}

In [110]:
validate_dataset_schema(input=incoming_data)

Numerical

False