In [14]:
import pandas as pd
import os
import tarfile
import numpy as np

In [7]:
os.listdir('D:\Music\Music\Data')

['housing.tgz']

In [10]:
with tarfile.open('D:\Music\Music\Data\housing.tgz') as tgz_file:
    tgz_file.extractall(path='D:\Music\Music\Data')

In [12]:
df = pd.read_csv('D:\Music\Music\Data\housing.csv')

In [13]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [15]:
df['income_cat']=pd.cut(
                df['median_income'],
                bins=[0.0,1.5,3.0,4.5,6.0,np.inf]
            )

In [16]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,"(6.0, inf]"
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,"(6.0, inf]"
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,"(6.0, inf]"
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,"(4.5, 6.0]"
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,"(3.0, 4.5]"

In [17]:
df['income_cat']=pd.cut(
                df['median_income'],
                bins=[0.0,1.5,3.0,4.5,6.0,np.inf],
                labels=[1,2,3,4,5]
            )

In [18]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3

In [20]:
from sklearn.model_selection import StratifiedShuffleSplit

In [21]:
split=StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=1)

In [22]:
split.split(df,df['income_cat'])

In [23]:
for train_idx,test_idx in split.split(df,df['income_cat']):
    strat_train_set=df.loc[train_idx].drop(['income_cat'],axis=1)
    strat_test_set=df.loc[test_idx].drop(['income_cat'],axis=1)

In [24]:
strat_train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19466,-120.97,37.68,16.0,2349.0,446.0,1302.0,392.0,3.1625,130300.0,INLAND
18145,-122.04,37.34,28.0,3081.0,460.0,1260.0,461.0,7.5372,432600.0,<1H OCEAN
15241,-117.23,32.99,17.0,2718.0,326.0,1011.0,319.0,15.0001,500001.0,NEAR OCEAN
4006,-118.63,34.16,33.0,2896.0,455.0,1116.0,411.0,6.0192,347700.0,<1H OCEAN
2679,-115.53,32.99,25.0,2578.0,634.0,2082.0,565.0,1.7159,62200.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16332,-121.34,38.03,20.0,4213.0,751.0,2071.0,714.0,4.4063,130800.0,INLAND
7467,-118.19,33.92,43.0,2339.0,487.0,1732.0,449.0,3.0987,139400.0,<1H OCEAN
16911,-122.37,37.56,21.0,7189.0,874.0,2440.0,846.0,11.6833,500001.0,NEAR OCEAN
4448,-118.21,34.07,47.0,1346.0,383.0,1452.0,371.0,1.7292,191700.0,<1H OCEAN
16031,-122.45,37.72,46.0,1406.0,235.0,771.0,239.0,4.7143,219300.0,NEAR BAY

In [25]:
strat_test_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19611,-121.13,37.47,37.0,1995.0,448.0,1559.0,443.0,2.1833,92700.0,INLAND
6702,-118.13,34.13,39.0,2099.0,397.0,1500.0,380.0,4.8304,493200.0,<1H OCEAN
13815,-117.22,34.44,5.0,4787.0,910.0,1944.0,806.0,2.6576,98500.0,INLAND
721,-122.11,37.68,37.0,1976.0,481.0,1197.0,465.0,2.5772,170200.0,NEAR BAY
6989,-118.04,33.97,29.0,2376.0,700.0,1968.0,680.0,2.6082,162500.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
4434,-118.20,34.07,34.0,1765.0,551.0,2203.0,500.0,2.2708,159600.0,<1H OCEAN
6711,-118.16,34.14,41.0,3039.0,482.0,973.0,446.0,7.4817,500001.0,<1H OCEAN
3124,-117.82,35.03,30.0,2555.0,510.0,1347.0,467.0,3.3693,71800.0,INLAND
3618,-118.44,34.26,34.0,325.0,60.0,433.0,83.0,5.5124,174300.0,<1H OCEAN
7497,-118.25,33.93,42.0,763.0,191.0,754.0,174.0,2.0486,101800.0,<1H OCEAN

In [26]:
strat_train_set['median_income'].mean()

3.871435404554263

In [28]:
strat_test_set['median_income'].mean()

3.867613396317829